html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 10px solid #4aaaa5;
text-align: center;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #666666;
}
.container{
  color: #777777;
}
.social{
  width: 50px;
    height: auto;
    color: none;
    border-right: none;
}